<ion-view>
    <ion-content id="course" align="center">
        <h1> {{ course.title }} </h1>

        <div><button
            class="button button-block button-positive">
            Assignments</button>
       </div>

        <div><button
            class="button button-block button-positive">
            Gradebook</button>
        </div>

        <div><button
            class="button button-block button-positive">
            Students</button>
        </div>

        <div><button
            class="button button-block button-positive">
            Manage Class</button>
        </div>

        <div><button
            class="button button-block button-positive">
            Export Gradebook</button>
        </div>
    </ion-content>
</ion-view>
