<ion-view>
    <ion-content id="course" align="center">
        <h1> {{ course.title }} </h1>

        <div><a
            class="button button-block button-positive" href="#app/page9">
            Assignments</a>
       </div>

        <div><a
            class="button button-block button-positive" href="#app/page1">
            Gradebook</a>
        </div>

        <div><a
            class="button button-block button-positive" href="#app/page17">
            Students</a>
        </div>

        <div><a
            class="button button-block button-positive" href="#app/page5">
            Manage Class</a>
        </div>

        <div><a
            class="button button-block button-positive" href="#app/page16">
            Export Gradebook</a>
        </div>
    </ion-content>
</ion-view>
