<ion-view view-title="Home">
    <ion-content align="center">
        <h1>My Classes</h1>
            <div>
                <button class="button button-block button-positive"
                    ng-repeat="course in courses"
                    onclick="window.location.href='#/app/homepage/{{ courses.id }}'">
                    {{ course.title }}
                </button>
            </div>
            <br>
            <div>
                <a class="button button-block  button-outline button-positive"
                        href="#/app/page3">
                    Create a new Class
                </a>
            </div>
                <a href="http://www.epichighered.com">
                <img border="5" border-color="black" alt="epichighered" src="/img/epichighered.png">
                </a>
    </ion-content>
</ion-view>
