<ion-view view-title="Enroll Students">
<ion-content>
<center>
<center><div class="bar bar-header bar-stable">
<h1>Example Class</h1>
</div></center>
<div class="bar bar-subheader">
<h2 class="title">Manually Enroll Students</h2>
</div>
<br />
<br />
<br />
<br />
<br />
<form ng-submit="add_student()">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">
        Student Name:
      </span>
      <input type="text" ng-model="input.studentName">
    </label>

    <label class="item">
      <button class="button button-block button-positive" type="submit" ng-click="close_add_student()">
        Add Student
      </button>
    </label>
  </div>
</form>
<br />
<br />
<a class="button button-large button-calm" href="#app/homepage">
Back To Class Home
</a>
</center>
</ion-content>
</ion-view>
