<ion-view view-title="Assignments">
  <ion-content>
  

  <h1>Example Class</h1>
    <a class="button button-block" href="#/app/page2">
  		Add Assignment
	</a>
	
    <a  class="button button-block" href="#/app/page14">
  		Edit Assignment
	</a>


	<div class="list list-inset">

	  <div class="item item-button">
	    
	    <button class="button button-block">
	      Assignment 1
	    </button>
	  </div>

	</div>

	<div class="bar">
	  <button class="button button-block">Class Home</button>
	</div>

  </ion-content>
</ion-view>
