<ion-view>
    <ion-content id="course" align="center">
        <center><h1>Add Assignment</h1>
        <h1>for {{ course.title }} </h1>

        <form ng-submit="add_assignment()">
	<label class="item item-input">
	  <span class="input-label">
	    Assignment Name:
	  </span>
	  <input type="text" ng-model="input.AssignmentName">
	</label>
        <label class="item item-input">
	  <span class="input-label">
            Points Possible:
	  </span>
          <input type="text" ng-model="input.pointsPossible">
	</label>
        <label class="item">
	  <button class="button button-block button-positive" type="submit" ng-click="close_add_assignment()">
	    Add
	  </button>
	</label>
        </form>

        <div><a
            class="button button-block button-positive" href="#app/page12">
            Add a Grade</a>
        </div></center>

        <div style=text-align:center;padding-top:30px;padding-bottom:10px>
        <a class="button button-large button-calm" style=width:75% href="#app/homepage">Back To Class Home</a>
        </div>
    </ion-content>
</ion-view>
