<ion-view view-title="Page8">
<ion-content>
<center>
<div class="bar bar-header bar-calm">
<button class="button icon ion-navicon">Home</button>
<h1 class="title">Example Class</h1>
</div>
<div class="bar bar-subheader">
<h2 class="title">Manually Enroll Students</h2>
</div>
<br />
<br />
<br />
<br />
<br />
<p>First Name:</p>
<input type="text" name="fname"><br />
<p>Last Name:</p>
<input type="text" name="lname"><br />
<br />
<button class="button button-positive" id="AddClass">
Add
</button>
<br />
<br />
<button class="button button-large button-calm">
Back To Class Home
</button>
</center>
</ion-content>
</ion-view>
