<ion-view view-title="Assignments">
  <ion-content>
  

  <h1>Example Class</h1>
    <a class="button button-block" href="#/app/page10">
  		<span style="font-weight:bold">Add Assignment</span>
	</a>
	
    <a  class="button button-block" href="#/app/page14">
  		<span style="font-weight:bold">Edit Assignment</span>
	</a>

		<div>
		<ion-list>
		  <button class="button button-block button-stable"
		    ng-repeat="assignment in assignments"
	        	onclick="window.location.href='#app/page9/{{assignments.title}}'">
	      			{{  assignment.title }}	
		  </button>
		</ion-list>
		</div>

	<center><div class="bar">
	  <a class="button button-block" href="#app/homepage">Class Home</a>
	</div></center>

  </ion-content>
</ion-view>
