<ion-view>
    <ion-content id="course" align="center">
        <center><h1> {{ course.ClassName }} </h1>
        <div><ion-item class="button button-block button-positive"
             ng-click="show_add_student()">
            Manually Enroll Students</ion-item>
       </div>

        <div><a
            class="button button-block button-positive" href="#app/page6">
            Import Class Roster</a>
        </div>

        <div><button
            class="button button-block button-positive">
            Edit Class Name</button>
        </div></center>

        <div style=text-align:center;padding-top:30px;padding-bottom:10px>
        <a class="button button-large button-calm" style=width:75% href="#app/homepage">Back To Class Home</a>
        </div>
    </ion-content>
</ion-view>
