<ion-view>
    <ion-content id="course" align="center">
        <center>
            <h1>Edit Assignment</h1>
            <h1>for {{ course.title }} </h1>
            <form action="action_page.php">
                Assignment name:
                <br>
                <input type="text" name="assignmentname">
                <br> New Points:
                <br>
                <input type="text" name="newpoints">
                <br>
                <br>
                <input type="submit" value="Confirm">
            </form>
            <div style=text-align:center;padding-top:30px;padding-bottom:10px>
                <button class="button button-large button-calm" style=width:75%>Back To Class Home</button>
            </div>
    </ion-content>
</ion-view>
