<ion-view view-title="Assignments">
  <ion-content>
  

  <h1>Example Class</h1>
    <a class="button button-block" href="#/app/page10">
  		<span style="font-weight:bold">Add Assignment</span>
	</a>
	
    <a  class="button button-block" href="#/app/page14">
  		<span style="font-weight:bold">Edit Assignment</span>
	</a>

		<div>
	<ion-scroll direction="y" style ="height: 250px">
		<div class="list list-inset">

		  <div class="item item-button">
		    
		    <ion-item ng-repeat="assignment in assignments">
	        	{{assignment.title}}
	      	</ion-item>
		  </div>

		</div>

	<center><div class="bar">
	  <a class="button button-block" href="#app/homepage">Class Home</a>
	</div></center>

  </ion-content>
</ion-view>
