<ion-view>
    <ion-content id="course" align="center">
        <center><h1> {{ course.title }} </h1>
        <h1> {{ student.name }} </h1>
        <div><button
            class="button button-block button-positive">
            Edit Student Name</button>
       </div>

        <div><button
            class="button button-block button-positive">
            Email Student</button>
        </div>

        <div><button
            class="button button-block button-positive">
            Email Scores</button>
        </div>

        <div><button
            class="button button-block button-positive">
            Delete Student</button>
        </div></center>

        <div style=text-align:center;padding-top:30px;padding-bottom:10px>
        <button class="button button-large button-calm" style=width:75%>Back To Class Home</button>
        </div>
    </ion-content>
</ion-view>
